/* Blue Color CSS */

.color {
  color: #30add1;
}

.content ul li {
  background-image: url("../img/list-b.png");
}

a,
a:visited {
  color: #30add1;
}

a:hover {
  color: #29a1c4;
}

.button a,
.button a:visited {
  background: #30add1;
  border-bottom: 2px solid #29a1c4;
}

.button a:hover {
  background: #29a1c4;
}

.navbar {
  background: #30add1 !important;
  border-top: 1px solid #29a1c4 !important;
  border-bottom: 1px solid #29a1c4 !important; 
}

.navbar .navbar-brand {
  color: #29a1c4;
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
  border-color: #3ba4c2;
}

.navbar button {
  background: #29a1c4 !important;
  border: 0;
}

.navbar button:hover {
  background: #29a1c4 !important;
  border: 0;
}

.navbar .navbar-collapse {
  border-color: #3ba4c2;
}

.navbar .nav {
  border-right: 1px solid #3ba4c2;
}

.navbar .nav > li > a {
  background: #30add1; 
  border-left: 1px solid #3ba4c2;
}

.navbar .nav > li > a:hover {
  background: #29a1c4 !important;
}

.navbar .nav .active > a,
.navbar .nav .active > a:hover,
.navbar .nav .active > a:focus {
  background: #29a1c4 !important;
}

#sidenav .nav > .active > a,
#sidenav .nav > .active:hover > a,
#sidenav .nav > .active:focus > a {
  color: #30add1;
  border-right: 1px solid #30add1;
}

.dropdown-toggle {
  background: #30add1 !important;
}

.dropdown-menu {
  background: #30add1 !important;
  border: 1px solid #29a1c4;
}

.dropdown-menu a {
  background: #30add1 !important;
  border-bottom: 1px solid #29a1c4;
}

.dropdown-menu a:hover,
.dropdown-menu a:focus {
  background: #29a1c4 !important;
}

/* Slider */

.da-slider {
  border-top: 4px solid #30add1;
  border-bottom: 4px solid #30add1;
}

.da-slide h2 {
  color: #30add1;
}

.da-slide .da-link {
  background: #30add1;
}

/* About */

.about-hero .highlight {
  color: #29a1c4;
}

.about .asocial i {
  background: #30add1;
}

/* Feature */

.feature:hover {
  border: 5px solid #30add1;
}

.fmatter i {
  color: #30add1;
}

/* Testimonial */

.testimonial {
  border-bottom: 2px solid #30add1;
}

.testimonial-arrow {
  border-top-color: #30add1;
}

.rpost:hover {
  border-bottom: 2px solid #30add1;
}

.accordion-heading i {
  color: #30add1;
}

.process i {
  color: #30add1;
}

.process-meta span {
  background: #30add1;
}

.feat h4 i {
  color: #30add1;
}

.posts .tags a {
  background: #30add1;
  border: 1px solid #29a1c4;
  border-bottom: 3px solid #29a1c4;
}

.posts .tags a:hover {
  border-bottom: 3px solid #30add1;
  background: #29a1c4;
  border: 1px solid #29a1c4;
}

.paging a:hover {
  background: #30add1;
  border:1px solid #29a1c4;
}

.paging .current {
  background: #30add1;
  border:1px solid #29a1c4;
}

.serv .simg i {
  color: #30add1;
}

.service i{
color:#30add1;
}

.nav-tabs > li > a:hover {
  background: #30add1;
}

footer {
  border-top: 3px solid #30add1;
}

footer ul li {
  background-image: url("../img/list-b.png");
}